main {
    .products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 50px auto;
        .product-box{
            margin-top: 10px; 
            width: 300px !important;
            .card-body{

                .links{
                    display:flex;
                    justify-content: space-evenly
                }
            }
        }
    }
}

.links {
    display: flex;
    justify-content: space-evenly
}