<!-- Footer -->
<footer style="background-color: #1B1F23; padding-top:30px" class="text-center text-lg-start text-muted">
    <!-- Section: Links  -->
    <section class="">
        <div class="text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Sky Egg
                    </h6>
                    <div>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Information
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">About Dreamegg</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Buying Guide</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Blog</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Become an Affiliate</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Privacy Policy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Terms & Conditions</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Coupon Partner</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Support
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Contact</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Product Registration</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Power User Program</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Shipping Policy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Refund Policy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Payment Method</a>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">skyegg.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->