@{
    ViewData["Title"] = "Air Purifiers";
}
@model List<SkyEggJoinModel>
@section productsStyle{
    <link rel="stylesheet" href="~/css/Products.css" />
}
<div>
    <partial name="~/Views/Collections/Index.cshtml" for="@Model">
        <div>
            <h3>You Deserve Clean Air</h3>
            <p>
                If the air in your home or residence does not feel as clear, fresh, and pure as you would like, implementing an air purifier inside of your home can help alleviate some of the breathing issues you are having. Many people buy a HEPA Air Purifier to help alleviate these sleeping issues. Dreamegg’s HEPA Air Purifier is a 4-in-1 machine that can provide you with some relief.

                This particular HEPA air purifier is utilized with a true HEPA air filter and is ideal for small to midsized rooms. It can completely purify the air in a 250 sq ft room in twenty minutes or less. Its size and purifying capacity make it a perfect choice as an air purifier for a dorm room. If you have trouble sleeping or breathing as clearly as you would like because of the air quality in your space or dorm room, this purifier is perfect for smaller spaces and is popular amongst customers to be chosen as an air purifier for dorm rooms. If you or someone you love is not in college and does not need it for a dorm room, it does well in small bedrooms and offices as well. It is compact and will not look or feel out of place -- even in small spaces or rooms.
            </p>
        </div>
        <div>
            <h3>Pure Air Plus a Wide Variety of Features</h3>
            <p>
                This 4-in-1 air purifier provides you with a night light and the ability to turn the machine on to a sleep mode for your convenience. The lowest noise level it reaches is 23 dB. The compactness of this machine makes it ideal for smaller spaces in your home that could use a little assistance in removing dust, pollen, and other allergens. The design is simple, modern, and looks fantastic in any space, no matter your current aesthetic.

                You deserve the sleep, rest, and air quality that lets you comfortably live in your space and live your life to its fullest. Allergens like dust and pollen can be infuriating to experience within the confines of your own home. To alleviate this, you may need to buy a HEPA Air Purifier. Our 4-in-1 air purifier is a powerful tool you can utilize in your home and in whatever rooms or spaces you need to clear the air the most. You deserve to breathe the highest quality air possible in your own space and allergens should have no place in your home.
            </p>
        </div>
</div>
