@{
    ViewData["Title"] = "Humidifiers";
}
@model List<SkyEggJoinModel>
@section productsStyle{
    <link rel="stylesheet" href="~/css/Products.css" />
}
<div>
    <partial name="~/Views/Collections/Index.cshtml" for="@Model">
        <div>
            <h3>Dry Air, Dry Skin, Poor Sleep</h3>
            <p>
                There are many factors that can deter and inhibit your ability to sleep well at night. You may have noise or dust and pollen in the air. Dreamegg has solutions for those problems. However -- many individuals, especially during the wintertime, have a difficult time because of dry air in their room or homes. Some people need humidifiers all year long because of dry skin, but many people realize they need to implement them into their bedroom during the wintertime.

                Dry air can make it miserable to sleep. You can buy a Cool Mist Humidifier from Dreamegg to help alleviate those issues. Dry air can make it difficult to fall asleep because of your throat, nose, or mouth. This is especially common in those who are sick with the annual cold or flu. It is very common for parents to implement a cool-mist humidifier for baby into their child’s bedroom because the size of a baby's throat and the inside of their nose makes it especially difficult and painful to fall asleep during the colder months. Purchasing a cool-mist humidifier for baby can help everyone in the household receive more sleep. The baby receives more sleep because their nostrils and throat are clear enough to breathe well and you receive more sleep simply because your baby is receiving more sleep.
            </p>
        </div>
        <div>
            <h3>Multiple Capacity Sizes for Multiple Room Types and Sizes</h3>
            <p>
                Through Dreamegg, you can purchase a high-quality cool-mist humidifier online and have it sent straight to your home to begin using right away. We offer two different cool-mist humidifiers online and in different sizes, one 2 L and one 4.5 L. This way, you have the right size depending on the size of your bedroom or the location you plan to utilize the machines. Each machine is extremely quiet, so it will not add to those other disturbances that make it difficult for you to sleep. They are simple and easy to refill and clean and come with a safety/timer and automatic off function. No need to worry about the humidifier running when you do not need it to.

                Dry air can make receiving a full, pleasant night's rest nearly impossible. You may need to implement a Dreamegg or buy a cool-mist humidifier into the dry areas of your home can help every single person in your home get the amount of sleep they need and deserve
            </p>
        </div>
</div>


