@{
    ViewData["Title"] = "Sound Machines";
}
@model List<SkyEggJoinModel>
@section productsStyle{
    <link rel="stylesheet" href="~/css/Products.css" />
}
<div>
    <!-- render index.cshtml-->
    <partial name="~/Views/Collections/Index.cshtml" for="@Model">
        <div>
            <h3>Want to Improve Your Health? Improve Your Sleep.</h3>
            <p>Our sound machines can be utilized by anyone in the family. We offer six different machines that offer a wide variety of uses and features. Sleep is so important to your health and well-being and our machines can help you receive the sleep you are currently lacking. A lack of sleep is incredibly detrimental to your health and therefore the rest of your family's health as well. Everyone needs to meet a certain amount of hours each night to be able to function as they need to. If you are unable to reach the minimum amount of hours that you need because of outside noise or other sleep disturbances, one of our DreamEgg sound machines can do the trick.</p>
        </div>
        <div>
            <h3>Take Your Sleep Sound Machine With You, Wherever You Go</h3>
            <p>
                One of our more popular options is our portable traveling sound machine. This can easily be attached to a crib or taken with you whenever you leave town, but still need to provide a good night's rest for you or your baby. These portable and traveling sound machines also give off a warm night light for the user. If you are looking for a baby sound machine that you can take anywhere your baby needs to sleep, our portable option may be ideal for you. Our other sound machines are easily placed on a nightstand or dresser, but can easily be used as a baby sound machine if needed. They offer warm nightlights, a wide variety of sounds, volume adjustments, and timers to help perfectly manage how often and how long the sounds last on the machine each night.

                Each of these machines is a perfect investment for your family. Our portable sound machine is ideal when you need to leave town for holidays or family events. Bad sleep does not only occur at home and we are aware of that. That is why we created the portable sound machine and our other compact and rechargeable sound machines. Sleep help makes all of us a better version of ourselves. If we are not receiving the sleep that we need, we are not reaching our full potential and these Dreamegg sleep machines can help remove bad sleeping habits and make you a sleeping overachiever.
            </p>
        </div>
</div>

